<h1>Display your Pirate here</h1>
  <p>Pirate Name: <%= @pirates.name %></p><br>
  <p>Pirate Weight: <%= @pirates.weight %></p><br>
  <p>Pirate Height: <%= @pirates.height %></p><br>

<h2>Display your first ship here</h2>
  <p>Ship Name: <%= @ships[0].name %></p><br>
  <p>Ship Type: <%= @ships[0].type %></p><br>
  <p>Ship Booty: <%= @ships[0].booty %></p><br>

<h2>Display your second ship here</h2>
  <p>Pirate Name: <%= @ships[1].name %></p><br>
  <p>Pirate Weight: <%= @ships[1].type %></p><br>
  <p>Pirate Height: <%= @ships[1].booty %></p><br>
