<h1>Pirate</h1>
  <p>Pirate Name: <%= @pirate.name %></p>
  <p>Pirate Weight: <%= @pirate.weight %></p>
  <p>Pirate Height: <%= @pirate.height %></p>

<h2>Ships</h2>
  <% @ships.each_with_index do |ship, i| %>
    <h3>Ship <%= i + 1 %></h3>
    <p>Ship Name: <%= ship.name %></p>
    <p>Ship Type: <%= ship.type %></p>
    <p>Ship Booty: <%= ship.booty %></p>
  <% end %>
